
<!DOCTYPE html>
<html lang="en-US" class="king-lnight">
	<!-- Created by KingMedia -->
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Cartonify Ai</title>
		<LINK REL="stylesheet" TYPE="text/css" HREF="https://king.kingthemes.net/leo/king-theme/leonardo/king-styles.css?9">
		<link rel="stylesheet" href="https://king.kingthemes.net/leo/king-theme/leonardo/font-awesome/css/all.min.css" type="text/css" media="all">
			<LINK REL="stylesheet" TYPE="text/css" HREF="https://king.kingthemes.net/leo/king-theme/leonardo/night.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="alternate" type="application/rss+xml" href="https://king.kingthemes.net/leo/feed/home.rss" title="">
				<link rel="next" href="https://king.kingthemes.net/leo/?start=20" >
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
				<script>
				var qa_root = 'https:\/\/king.kingthemes.net\/leo\/';
				var qa_request = 'home';
				</script>
				<script src="https://king.kingthemes.net/leo/king-content/jquery-1.7.2.min.js"></script>
				<script src="https://king.kingthemes.net/leo/king-content/king-page.js?9"></script>
				<script src="https://king.kingthemes.net/leo/king-theme/leonardo/js/night.js"></script>
			</head>
			<BODY
				class="king-template-home king-body-js-off"
				>
				<script>
					var b=document.getElementsByTagName('body')[0];
					b.className=b.className.replace('king-body-js-off', 'king-body-js-on');
				</script>
				<DIV class="king-body" id="lmenu">
					<header CLASS="king-headerf" id="king-header">
						<DIV CLASS="king-header">
							<div class="header-left">
								<button id="ltoggle"></button>
								<div class="king-logo">
									<a href="https://king.kingthemes.net/leo/" class="king-logo-link" title="Cartonify Ai"><img class="king-logol" src="" border="0" alt="Cartonify Ai"></a>
								</div>
							</div>
							<div class="header-middle">
								<ul class="king-nav-head-list" id="nav-head">
									<li class="king-nav-head-item king-nav-head-updates">
										<a href="https://king.kingthemes.net/leo/updates" class="king-nav-head-link"><i class="fa-solid fa-bolt"></i> Subscriptions</a>
									</li>
									<li class="king-nav-head-item king-nav-head-reactions">
										<a href="https://king.kingthemes.net/leo/reactions" class="king-nav-head-link"><i class="fa-brands fa-ello"></i> Reactions</a>
									</li>
									<li class="king-nav-head-item king-nav-head-hot">
										<a href="https://king.kingthemes.net/leo/hot" class="king-nav-head-link"><i class="fa-solid fa-fire-flame-simple"></i> Hot!</a>
									</li>
									<li class="king-nav-head-item king-nav-head-custom-3">
										<a href="https://king.kingthemes.net/leo/aifavs" class="king-nav-head-link"><i class="fa-regular fa-heart"></i>Favorites</a>
									</li>
									<li class="king-nav-head-item king-nav-head-custom-2">
										<a href="https://king.kingthemes.net/leo/pricing" class="king-nav-head-link"><i class="fa-solid fa-fingerprint"></i>Pricing</a>
									</li>
									<li class="king-nav-head-item king-nav-head-custom-1">
										<a href="https://king.kingthemes.net/leo/submitai" class="king-nav-head-link"><i class="fa-solid fa-feather-pointed"></i>Generate</a>
									</li>
								</ul>
								<div class="king-nav-head-clear">
								</div>
							</div>
							<DIV CLASS="header-right">
								<ul>
									<li>
										<a class="aisubmit" href="https://cartonify.com/login"><i class="fa-solid fa-feather-pointed"></i>Create</a>
									</li>
									<li class="search-button"><span data-toggle="dropdown" data-target=".king-search" aria-expanded="false" class="search-toggle"><i class="fas fa-search fa-lg"></i></span></li>
								</ul>
							</DIV>
						</DIV>
						<div class="leftmenu kingscroll">
							<button type="button" class="king-left-close" data-target=".leftcats, .leftmenu" data-toggle="dropdown"  aria-expanded="false"></button>
							<DIV CLASS="king-nav-main">
								<ul class="king-nav-main-list" id="nav-main">
									<li class="king-nav-main-item king-nav-main-home">
										<a href="https://king.kingthemes.net/leo/" class="king-nav-main-link king-nav-main-selected"><i class="fas fa-home"></i>Home</a>
									</li>
									<li class="king-nav-main-item king-nav-main-hot">
										<a href="https://king.kingthemes.net/leo/hot" class="king-nav-main-link"><i class="fa-solid fa-fire-flame-simple"></i>Hot!</a>
									</li>
									<li class="king-nav-main-item king-nav-main-tag">
										<a href="https://king.kingthemes.net/leo/tags" class="king-nav-main-link"><i class="fas fa-hashtag"></i>Tags</a>
									</li>
									<li class="king-nav-main-item king-nav-main-user">
										<a href="https://king.kingthemes.net/leo/users" class="king-nav-main-link"><i class="fas fa-users"></i>Top Users</a>
									</li>
								</ul>
								<div class="king-nav-main-clear">
								</div>
							</DIV>
							<div class="usrleft">
								<div class="king-havatar" data-toggle="dropdown" data-target=".king-dropdown, .leftmenu" aria-expanded="false" >
									<img src="https://king.kingthemes.net/leo/?qa=image&amp;qa_blobid=7675383614387419637&amp;qa_size=120" width="40" height="40" class="king-avatar" >
								</div>
							</div>
							<input type="checkbox" id="king-lnight" class="hide" ><label for="king-lnight" class="king-nightb"><i class="fa-solid fa-sun"></i><i class="fa-solid fa-moon"></i></label>
						</div>
						<div class="king-mega-menu leftcats">
							<div class="king-cat">
								<ul class="king-nav-cat-list king-nav-cat-list-4" id="nav-cat">
									<li class="king-nav-cat-item king-nav-cat-all">
										<a href="https://king.kingthemes.net/leo/" class="king-nav-cat-link king-nav-cat-selected">All</a>
									</li>
									<li class="king-nav-cat-item king-nav-cat-art">
										<a href="https://king.kingthemes.net/leo/art" class="king-nav-cat-link"><span style="color:#c7f8ff"><i class="fas fa-palette"></i></span>Art</a>
										<span class="king-nav-cat-note">(9)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-entertainment">
										<a href="https://king.kingthemes.net/leo/entertainment" class="king-nav-cat-link"><span style="color:#9391fd"><i class="fas fa-glass-cheers"></i></span>Entertainment</a>
										<span class="king-nav-cat-note">(0)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-games">
										<a href="https://king.kingthemes.net/leo/games" class="king-nav-cat-link"><span style="color:#44ff00"><i class="fas fa-gamepad"></i></span>Games</a>
										<span class="king-nav-cat-note">(1)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-history">
										<a href="https://king.kingthemes.net/leo/history" class="king-nav-cat-link"><span style="color:#eab171"><i class="fas fa-landmark"></i></span>History</a>
										<span class="king-nav-cat-note">(1)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-how-to">
										<a href="https://king.kingthemes.net/leo/how-to" class="king-nav-cat-link"><span style="color:#fbe44b"><i class="far fa-question-circle"></i></span>How to</a>
										<span class="king-nav-cat-note">(3)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-internet">
										<a href="https://king.kingthemes.net/leo/internet" class="king-nav-cat-link"><span style="color:#747df6"><i class="fas fa-globe-asia"></i></span>Internet</a>
										<span class="king-nav-cat-note">(1)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-music-cat">
										<a href="https://king.kingthemes.net/leo/music-cat" class="king-nav-cat-link"><span style="color:#50f763"><i class="fas fa-headphones-alt"></i></span>Music</a>
										<span class="king-nav-cat-note">(1)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-nature">
										<a href="https://king.kingthemes.net/leo/nature" class="king-nav-cat-link"><span style="color:#84f588"><i class="fas fa-tree"></i></span>Nature</a>
										<span class="king-nav-cat-note">(8)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-sports">
										<a href="https://king.kingthemes.net/leo/sports" class="king-nav-cat-link"><span style="color:#f92bfd"><i class="fas fa-basketball-ball"></i></span>Sports</a>
										<span class="king-nav-cat-note">(0)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-technology">
										<a href="https://king.kingthemes.net/leo/technology" class="king-nav-cat-link"><span style="color:#646373"><i class="fas fa-microchip"></i></span>Technology</a>
										<span class="king-nav-cat-note">(0)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-travel">
										<a href="https://king.kingthemes.net/leo/travel" class="king-nav-cat-link"><span style="color:#ff386a"><i class="far fa-map"></i></span>Travel</a>
										<span class="king-nav-cat-note">(4)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-animals">
										<a href="https://king.kingthemes.net/leo/animals" class="king-nav-cat-link"><span style="color:#a9f594"><i class="fa-solid fa-paw"></i></span>Animals</a>
										<span class="king-nav-cat-note">(5)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-fashion">
										<a href="https://king.kingthemes.net/leo/fashion" class="king-nav-cat-link"><span style="color:#9b94ff"><i class="fa-solid fa-shirt"></i></span>Fashion</a>
										<span class="king-nav-cat-note">(7)</span>
									</li>
									<li class="king-nav-cat-item king-nav-cat-space">
										<a href="https://king.kingthemes.net/leo/space" class="king-nav-cat-link"><span style="color:#ac66e5"><i class="fa-solid fa-user-astronaut"></i></span>Space</a>
										<span class="king-nav-cat-note">(2)</span>
									</li>
								</ul>
								<div class="king-nav-cat-clear">
								</div>
							</div>
						</div>
						<div class="king-dropdown king-mega-menu">
							<div>
								<a href="https://king.kingthemes.net/leo/user/kingtheme" ><h3>kingtheme</h3></a>
								<span class="user-box-point"><strong>100</strong> Points</span>
								
								<ul class="king-nav-user-list" id="nav-user">
									<li class="king-nav-user-item king-nav-user-account">
										<a href="https://king.kingthemes.net/leo/account" class="king-nav-user-link">My Settings</a>
									</li>
									<li class="king-nav-user-item king-nav-user-messages">
										<a href="https://king.kingthemes.net/leo/messages" class="king-nav-user-link">Private Messages</a>
									</li>
									<li class="king-nav-user-item king-nav-user-membership">
										<a href="https://king.kingthemes.net/leo/membership/me" class="king-nav-user-link">My Membership</a>
									</li>
									<li class="king-nav-user-item king-nav-user-updates2">
										<a href="https://king.kingthemes.net/leo/updates" class="king-nav-user-link">Subscriptions</a>
									</li>
									<li class="king-nav-user-item king-nav-user-updates">
										<a href="https://king.kingthemes.net/leo/favorites" class="king-nav-user-link">My Favorites</a>
									</li>
									<li class="king-nav-user-item king-nav-user-logout">
										<a href="https://king.kingthemes.net/leo/logout" class="king-nav-user-link">Logout</a>
									</li>
								</ul>
								<div class="king-nav-user-clear">
								</div>
							</div>
							<div class="ailimit">
								<h5>Credits</h5>
								<h4>4 / 20</h4>
								<div class="ailimits"><span style="width:20%;"></span></div>
							</div>
						</div>
					</header>
					<div class="king-body-search-up">
						<div class="king-body-search">
							<h1>Cartonify</h1>
							<h3>Create any image from your imagination.</h3>
							<div class="king-search">
								<div class="king-search-in">
									<form method="get" action="https://king.kingthemes.net/leo/search">
										
										<input type="text" name="q" value="" class="king-search-field" placeholder="Search" autocomplete="off">
									<button type="submit" class="king-search-button"><i class="fas fa-search fa-lg"></i></button>
								</form>
								<div class="search-disc">
									<h3>Discover</h3>
									<a class="disc-tags" href="https://king.kingthemes.net/leo/tag/art" >art</a>
									<a class="disc-tags" href="https://king.kingthemes.net/leo/tag/fashion" >fashion</a>
									<a class="disc-tags" href="https://king.kingthemes.net/leo/tag/animal" >animal</a>
									<a class="disc-tags" href="https://king.kingthemes.net/leo/tag/forest" >forest</a>
									<a class="disc-tags" href="https://king.kingthemes.net/leo/tag/illustration" >illustration</a>
								</div>
								<div id="king_live_results" class="liveresults">
								</div>
							</div>
						</div>
					</div>
					<div class="king-featureds grids-6">
						<div class="king-featured-grid">
							<div class="featured-posts grid-1">
							<a href="https://king.kingthemes.net/leo/8/old-yellow-school-bus">
								<div class="featured-post">
									<div class="king-box-bg" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/05/23741-madmax_old_yellow_school_bus_real_photo_from_the_front_in_the_f_7900074b-21ae-441b-bc76-702e3cb14fa0.png"></div>
								</div>
							</a>       
							<div class="featured-content">
								<div class="mslider-post-meta">Image</div>
								<a href="https://king.kingthemes.net/leo/8/old-yellow-school-bus" class="featured-title">Old yellow school bus</a>
								<div class="featured-meta">
									<span><i class="fa fa-eye" aria-hidden="true"></i> 21 </span>
									<span><i class="fa fa-comment" aria-hidden="true"></i> 0</span>
									<span><i class="fas fa-chevron-up"></i> 0</span>
								</div>
							</div>
						</div>
					
							<div class="featured-posts grid-2">
							<a href="https://king.kingthemes.net/leo/12/astronaut-sitting-far-on-a-cotton-candy">
								<div class="featured-post">
									<div class="king-box-bg" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/05/512161-0_0_640_N.webp"></div>
								</div>
							</a>       
							<div class="featured-content">
								<div class="mslider-post-meta">Image</div>
								<a href="https://king.kingthemes.net/leo/12/astronaut-sitting-far-on-a-cotton-candy" class="featured-title">astronaut sitting far on a cotton candy</a>
								<div class="featured-meta">
									<span><i class="fa fa-eye" aria-hidden="true"></i> 31 </span>
									<span><i class="fa fa-comment" aria-hidden="true"></i> 0</span>
									<span><i class="fas fa-chevron-up"></i> 0</span>
								</div>
							</div>
						</div>
					
							<div class="featured-posts grid-3">
							<a href="https://king.kingthemes.net/leo/31/starry-night">
								<div class="featured-post">
									<div class="king-box-bg" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/05/715074-IMG_7572.PNG"></div>
								</div>
							</a>       
							<div class="featured-content">
								<div class="mslider-post-meta">Image</div>
								<a href="https://king.kingthemes.net/leo/31/starry-night" class="featured-title">Starry Night</a>
								<div class="featured-meta">
									<span><i class="fa fa-eye" aria-hidden="true"></i> 94 </span>
									<span><i class="fa fa-comment" aria-hidden="true"></i> 0</span>
									<span><i class="fas fa-chevron-up"></i> 0</span>
								</div>
							</div>
						</div>
					
							<div class="featured-posts grid-4">
							<a href="https://king.kingthemes.net/leo/61/portrait-photo-of-a-asian">
								<div class="featured-post">
									<div class="king-box-bg" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/174006-1853275306.jpg"></div>
								</div>
							</a>       
							<div class="featured-content">
								<div class="mslider-post-meta">Image</div>
								<a href="https://king.kingthemes.net/leo/61/portrait-photo-of-a-asian" class="featured-title">portrait photo of a asian</a>
								<div class="featured-meta">
									<span><i class="fa fa-eye" aria-hidden="true"></i> 2 </span>
									<span><i class="fa fa-comment" aria-hidden="true"></i> 0</span>
									<span><i class="fas fa-chevron-up"></i> 0</span>
								</div>
							</div>
						</div>
					
						</div>
					</div>
				</div>
				<DIV id="king-body-wrapper" class="king-body-in">
					<div class="leo-nav">
						<ul class="king-nav-sub-list" id="nav-sub">
							<li class="king-nav-sub-item king-nav-sub-recent">
								<a href="https://king.kingthemes.net/leo/" class="king-nav-sub-link king-nav-sub-selected">Recent</a>
							</li>
							<li class="king-nav-sub-item king-nav-sub-hot">
								<a href="https://king.kingthemes.net/leo/?sort=hot" class="king-nav-sub-link">Hot!</a>
							</li>
							<li class="king-nav-sub-item king-nav-sub-votes">
								<a href="https://king.kingthemes.net/leo/?sort=votes" class="king-nav-sub-link">Most votes</a>
							</li>
							<li class="king-nav-sub-item king-nav-sub-answers">
								<a href="https://king.kingthemes.net/leo/?sort=answers" class="king-nav-sub-link">Most Comments</a>
							</li>
							<li class="king-nav-sub-item king-nav-sub-views">
								<a href="https://king.kingthemes.net/leo/?sort=views" class="king-nav-sub-link">Most views</a>
							</li>
							<div class="king-flter" onclick="toggleSwitcher('#secndnav', this)" role="button"><i class="fa-solid fa-chart-simple"></i> Filters</div>
						</ul>
						<div class="king-secondnav " id="secndnav">
							<div class="king-nav-time">
								<div class="aiplabel">Timeframe</div>
								<div class="king-time-select" data-toggle="dropdown" aria-expanded="false" role="button">All Time<i class="fa-solid fa-angle-down"></i></div>
								<div class="king-time-drop">
									<a href="https://king.kingthemes.net/leo/#nav-sub" class="active">All Time</a>
									<a href="https://king.kingthemes.net/leo/?time=year#nav-sub" class="">Past Year</a>
									<a href="https://king.kingthemes.net/leo/?time=month#nav-sub" class="">Past Month</a>
									<a href="https://king.kingthemes.net/leo/?time=week#nav-sub" class="">Past Week</a>
								</div>
							</div>
							<div class="king-nav-time">
								<div class="aiplabel">Post Type</div>
								<div class="king-time-select" data-toggle="dropdown" aria-expanded="false" role="button">All<i class="fa-solid fa-angle-down"></i></div>
								<div class="king-time-drop">
									<a href="https://king.kingthemes.net/leo/#nav-sub" class="active">All</a>
								</div>
							</div>
							<div class="king-nav-time">
								<div class="aiplabel">Order By</div>
								<div class="king-time-select" data-toggle="dropdown" aria-expanded="false" role="button">Latest<i class="fa-solid fa-angle-down"></i></div>
								<div class="king-time-drop">
									<a href="https://king.kingthemes.net/leo/#nav-sub" class="active">Latest</a>
									<a href="https://king.kingthemes.net/leo/?filter=ascending#nav-sub" class="">Oldest</a>
								</div>
							</div>
						</div>
						<div class="king-nav-sub-clear">
						</div>
						<div class="leo-range">
							<span id="range-value">5</span><i class="fa-solid fa-square"></i>
							<input id="myRange" class="leo-slider" type="range" min="2" max="10" step="1" value="5" >
							<i class="fa-solid fa-grip"></i></div>
						</div>
						<div id="container">
							<DIV CLASS="king-main full-page">
								<DIV CLASS="king-main-in">
									<div class="king-part-q-list king-inner">
										<div class="container">
											<div class="box king-q-list-item king-class-image" id="q75">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/75/starry-night-cat" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/75/starry-night-cat" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/75/starry-night-cat">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1170" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2024/03/68366-455922689.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/animals" class="king-category-link" style="color:#a9f594;border:2px solid #a9f59422;"><i class="fa-solid fa-paw"></i> Animals</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/75/starry-night-cat"><h4>Starry night cat</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q72">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/72/abstract-female-portrait" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/72/abstract-female-portrait" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" href="https://king.kingthemes.net/leo/72/abstract-female-portrait">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1170" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2024/02/120699-340549490.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/fashion" class="king-category-link" style="color:#9b94ff;border:2px solid #9b94ff22;"><i class="fa-solid fa-shirt"></i> Fashion</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/72/abstract-female-portrait"><h4>Abstract female portrait</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q71">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/71/crochet-doll-of-vincent-vangogh" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/71/crochet-doll-of-vincent-vangogh" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/71/crochet-doll-of-vincent-vangogh">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1170" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2024/02/504760-1090550207.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/art" class="king-category-link" style="color:#c7f8ff;border:2px solid #c7f8ff22;"><i class="fas fa-palette"></i> Art</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/71/crochet-doll-of-vincent-vangogh"><h4>Crochet doll of Vincent VanGogh</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q70">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/70/a-young-model-dressed" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/70/a-young-model-dressed" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/70/a-young-model-dressed">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1400" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2024/02/920800-1786982257.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/fashion" class="king-category-link" style="color:#9b94ff;border:2px solid #9b94ff22;"><i class="fa-solid fa-shirt"></i> Fashion</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/70/a-young-model-dressed"><h4>a young model dressed</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q69">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/69/90s-anime-illustration" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/69/90s-anime-illustration" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/69/90s-anime-illustration">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1200" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2024/01/923566-0_0_384_N.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/fashion" class="king-category-link" style="color:#9b94ff;border:2px solid #9b94ff22;"><i class="fa-solid fa-shirt"></i> Fashion</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/69/90s-anime-illustration"><h4>90s anime illustration</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q67">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/67/radioactive-jellyfish" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/67/radioactive-jellyfish" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/67/radioactive-jellyfish">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1400" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/311618-192539764.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/nature" class="king-category-link" style="color:#84f588;border:2px solid #84f58822;"><i class="fas fa-tree"></i> Nature</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/67/radioactive-jellyfish"><h4>Radioactive jellyfish</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q66">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/66/astronaut-laying-in-flowers" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/66/astronaut-laying-in-flowers" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/66/astronaut-laying-in-flowers">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1169" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/390504-grid_0_1024_N-768x1122.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/space" class="king-category-link" style="color:#ac66e5;border:2px solid #ac66e522;"><i class="fa-solid fa-user-astronaut"></i> Space</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/66/astronaut-laying-in-flowers"><h4>Astronaut laying in flowers</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q65">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/65/felt-monsters-in-a-movie" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/65/felt-monsters-in-a-movie" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/65/felt-monsters-in-a-movie">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1030" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/661809-825009363 (1).webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/games" class="king-category-link" style="color:#44ff00;border:2px solid #44ff0022;"><i class="fas fa-gamepad"></i> Games</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/65/felt-monsters-in-a-movie"><h4>Felt monsters in a movie</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q64">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/64/the-girl-with-a-pearl-earring" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/64/the-girl-with-a-pearl-earring" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/64/the-girl-with-a-pearl-earring">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1400" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/661188-1878378805.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/art" class="king-category-link" style="color:#c7f8ff;border:2px solid #c7f8ff22;"><i class="fas fa-palette"></i> Art</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/64/the-girl-with-a-pearl-earring"><h4>The Girl with a Pearl Earring</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q31">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/31/starry-night" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/31/starry-night" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/31/starry-night">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="872" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/05/715074-IMG_7572.PNG" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/art" class="king-category-link" style="color:#c7f8ff;border:2px solid #c7f8ff22;"><i class="fas fa-palette"></i> Art</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/31/starry-night"><h4>Starry Night</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q60">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/60/margot-robbie-risograph-portraits" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/60/margot-robbie-risograph-portraits" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/60/margot-robbie-risograph-portraits">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1029" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/513679-1018152569.jpg" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/art" class="king-category-link" style="color:#c7f8ff;border:2px solid #c7f8ff22;"><i class="fas fa-palette"></i> Art</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/60/margot-robbie-risograph-portraits"><h4>Margot Robbie risograph portraits</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q59">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/59/lion-and-autumn-leaves" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/59/lion-and-autumn-leaves" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/59/lion-and-autumn-leaves">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1170" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/192540-471384789.jpg" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/animals" class="king-category-link" style="color:#a9f594;border:2px solid #a9f59422;"><i class="fa-solid fa-paw"></i> Animals</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/59/lion-and-autumn-leaves"><h4>Lion and autumn leaves</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q58">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/58/futuristic-house-in-the-mountains" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/58/futuristic-house-in-the-mountains" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/58/futuristic-house-in-the-mountains">
														<span class="post-featured-img"><img class="item-img king-lazy" width="768" height="768" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/1843917725.png" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/nature" class="king-category-link" style="color:#84f588;border:2px solid #84f58822;"><i class="fas fa-tree"></i> Nature</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/58/futuristic-house-in-the-mountains"><h4>Futuristic house in the mountains</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q56">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/56/a-polar-bear" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/56/a-polar-bear" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/56/a-polar-bear">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1170" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/226136-2015484705.jpg" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/nature" class="king-category-link" style="color:#84f588;border:2px solid #84f58822;"><i class="fas fa-tree"></i> Nature</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/56/a-polar-bear"><h4>a polar bear</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q62">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/62/eiffel-tower-paris" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/62/eiffel-tower-paris" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/62/eiffel-tower-paris">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1400" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/07/90295-461283843.jpg" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/internet" class="king-category-link" style="color:#747df6;border:2px solid #747df622;"><i class="fas fa-globe-asia"></i> Internet</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/62/eiffel-tower-paris"><h4>Eiffel Tower Paris</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q30">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/30/a-close-up-of-a-womans-eye" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/30/a-close-up-of-a-womans-eye" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/30/a-close-up-of-a-womans-eye">
														<span class="post-featured-img"><img class="item-img king-lazy" width="512" height="640" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/05/648946006.png" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/how-to" class="king-category-link" style="color:#fbe44b;border:2px solid #fbe44b22;"><i class="far fa-question-circle"></i> How to</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/30/a-close-up-of-a-womans-eye"><h4>a close-up of a woman&#039;s eye</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q29">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/29/a-charming-commercial-shot" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/29/a-charming-commercial-shot" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/29/a-charming-commercial-shot">
														<span class="post-featured-img"><img class="item-img king-lazy" width="512" height="768" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/05/1372854900.png" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/animals" class="king-category-link" style="color:#a9f594;border:2px solid #a9f59422;"><i class="fa-solid fa-paw"></i> Animals</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/29/a-charming-commercial-shot"><h4>a charming commercial shot</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q50">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/50/a-minimalistic-illustration" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/50/a-minimalistic-illustration" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/50/a-minimalistic-illustration">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="800" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/06/18619-1340679344.jpg" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/art" class="king-category-link" style="color:#c7f8ff;border:2px solid #c7f8ff22;"><i class="fas fa-palette"></i> Art</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/50/a-minimalistic-illustration"><h4>a minimalistic illustration</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q53">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/53/a-halloween-character" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/53/a-halloween-character" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/53/a-halloween-character">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1000" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/06/205993-1740471595.jpg" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/space" class="king-category-link" style="color:#ac66e5;border:2px solid #ac66e522;"><i class="fa-solid fa-user-astronaut"></i> Space</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/53/a-halloween-character"><h4>a Halloween character</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
											<div class="box king-q-list-item king-class-image" id="q12">
												<div class="king-post-upbtn">
													<a href="https://king.kingthemes.net/leo/12/astronaut-sitting-far-on-a-cotton-candy" class="ajax-popup-share magnefic-button" data-toggle="tooltip" data-placement="right" title="Share"><i class="fas fa-share-alt"></i></a>
												</div>
												<a href="https://king.kingthemes.net/leo/12/astronaut-sitting-far-on-a-cotton-candy" class="ajax-popup-link magnefic-button mgbutton" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fas fa-search"></i></a>
												<div class="king-q-item-main">
													<a class="item-a" HREF="https://king.kingthemes.net/leo/12/astronaut-sitting-far-on-a-cotton-candy">
														<span class="post-featured-img"><img class="item-img king-lazy" width="800" height="1200" data-king-img-src="https://king.kingthemes.net/leo/king-include/uploads/2023/05/512161-0_0_640_N.webp" alt=""/></span>
													</a>
													<DIV CLASS="king-post-content">
														<DIV CLASS="king-q-item-title">
															<div class="king-title-up">
																<span class="metah-where">
																	<span class="metah-where-data"><a href="https://king.kingthemes.net/leo/travel" class="king-category-link" style="color:#ff386a;border:2px solid #ff386a22;"><i class="far fa-map"></i> Travel</a></span>
																</span>
															</div>
															<a HREF="https://king.kingthemes.net/leo/12/astronaut-sitting-far-on-a-cotton-candy"><h4>astronaut sitting far on a cotton candy</h4></a>
														</DIV>
													</DIV>
												</div>
											</div>
										</div>
									</div>
									<div class="king-page-links">
										<ul class="king-page-links-list">
											<li class="king-page-links-item">
												<span class="king-page-selected">1</span>
											</li>
											<li class="king-page-links-item">
												<a href="https://king.kingthemes.net/leo/?start=20" class="king-page-link">2</a>
											</li>
											<li class="king-page-links-item">
												<a href="https://king.kingthemes.net/leo/?start=40" class="king-page-link">3</a>
											</li>
											<li class="king-page-links-item">
												<a href="https://king.kingthemes.net/leo/?start=20" class="king-page-next"> &raquo;</a>
											</li>
										</ul>
										<div class="king-page-links-clear">
										</div>
									</div>
								</div> <!-- king-main-in -->
							</DIV> <!-- king-main -->
						</div>
						<footer class="king-footer">
							<ul class="socialicons">
								<li class="facebook"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top"  title="Join our Facebook page !"><i class="fab fa-facebook-f"></i></a></li>
								<li class="twitter"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top"  title="Follow us on X !"><i class="fa-brands fa-x-twitter"></i></a></li>
								<li class="instagram"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top"  title="Follow us on Instagram !"><i class="fab fa-instagram"></i></a></li>
								<li class="youtube"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top"  title="Follow us on Youtube !"><i class="fab fa-youtube"></i></a></li>
								<li class="pinterest"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top"  title="Follow us on Pinterest !"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
							<ul class="king-nav-footer-list" id="nav-footer">
								<li class="king-nav-footer-item king-nav-footer-feedback">
									<a href="https://king.kingthemes.net/leo/feedback" class="king-nav-footer-link">Send feedback</a>
								</li>
							</ul>
							<div class="king-nav-footer-clear">
							</div>
							<DIV CLASS="king-attribution" id="insertfooter">
								2024 ©  <a HREF="/">Cartonify Ai</a> | All rights reserved
							</DIV>
							<div class="king-footer-clear">
							</div>
						</footer> <!-- END king-footer -->
						
					</DIV>
				</DIV>
				<link rel="preconnect" href="https://fonts.googleapis.com">
					<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
						<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap" rel="stylesheet">
							<script src="https://king.kingthemes.net/leo/king-content/js/jquery.magnific-popup.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-content/js/owl.carousel.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-content/js/videojs/video.min.js"></script>
							<link href="https://king.kingthemes.net/leo/king-content/js/videojs/video-js.css" rel="stylesheet" >
							<script src="https://king.kingthemes.net/leo/king-content/js/videojs/videojs-playlist.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-content/js/videojs/videojs-playlist-ui.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-theme/leonardo/js/main.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-theme/leonardo/js/bootstrap.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-theme/leonardo/js/jquery-ias.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-theme/leonardo/js/masonry.pkgd.min.js"></script>
							<script src="https://king.kingthemes.net/leo/king-plugin/king-leo/king-leo.js"></script>
						</BODY>
						<!-- Created by KingMedia with love <3 -->
						</html>
